[Unit]
After=network.service
Description=Crawling @ Home

[Service]
Type=simple
WorkingDirectory=/home/crawl
ExecStart=/home/crawl/crawl.sh
User=crawl

[Install]
WantedBy=multi-user.target
# WantedBy=default.target