[Unit]
After=network.service
Description=Crawling @ Home

[Service]
Type=simple
LimitNOFILE=2097152
WorkingDirectory=/home/crawl
ExecStart=/home/crawl/headless-crawlingathome/system/crawl.sh
User=crawl

[Install]
WantedBy=multi-user.target